body {
    background: url('http://4.bp.blogspot.com/-7e5i3gvf-o4/UdFpAi0GJfI/AAAAAAAAFN0/dt41gu945l0/s256/black-groove-stripes-repeating-background.jpg');
  }
  .sigin-txt {
    color: rgb(255,255,255) !important;
  }
  
  #sign-form {
    background-color: #c0c0c0;
    width: 30%;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 37px;
    margin-top: 15%;
    border-radius: 10px;
    opacity: 0.7;
  }
  
  .user-name-label {
    padding: 10px;
  }
  
  .password-label {
    padding-left: 10px;
    padding-right: 21px;
  }
  
  .user-name-input,
  .password-input {
    width: 50%;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #03A9F4;
    padding-left: 5px;
  }
  
 .sign-in-btn button {
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    background: #00BCD4;
    color: #fff;
    margin: 0 auto;
    display: block;
    border: 1px solid #fff;
    border-radius: 7px;
    cursor: pointer;
  }
  
   button:hover {
    background-color: #fff;
    color: #00BCD4;
    border: 1px solid #00BCD4;
  }